In [1]:
import pandas as pd

In [2]:
cc = pd.read_csv('creditcard.csv')

In [13]:
cc1 = pd.read_csv('creditcard_aa.csv')

In [37]:
cc1.columns

Index(['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount',
       'Class'],
      dtype='object')

In [25]:
cc1.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [28]:
cc2 = pd.read_csv('creditcard_ab.csv', header=None)

In [40]:
cc2.columns = cc1.columns

In [41]:
cc2.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,67375.0,-8.385910,6.684397,-2.768966,-2.201446,-1.165741,0.035252,0.008863,0.982109,5.672869,...,-1.323844,-1.171954,0.235235,-1.303059,1.395179,0.125756,1.858557,0.583994,10.76,0
1,67375.0,-0.750462,1.235814,-0.506432,-1.198784,2.421259,3.426297,-0.149277,0.161381,-0.247763,...,0.413828,-1.288445,0.074214,0.917170,0.063812,0.098936,0.389123,0.158663,5.49,0
2,67376.0,-2.994246,2.907147,-0.760902,1.293654,-1.623169,-0.295446,-1.337222,2.274480,-0.244710,...,0.097198,0.058329,0.195729,0.048563,0.126143,-0.217233,-0.149761,0.059375,0.99,0
3,67377.0,1.205477,0.247405,-0.599937,1.312635,2.134258,3.860219,-0.632221,0.961053,-0.729920,...,-0.258123,-0.991178,0.111099,0.946632,0.335732,-0.244185,0.006686,0.028477,13.60,0
4,67378.0,1.204767,-0.090795,0.369417,-0.177446,-0.515592,-0.539666,-0.204135,0.085854,0.094591,...,-0.152829,-0.488542,0.169320,0.248762,0.004995,0.850362,-0.081066,-0.010125,0.00,0

In [30]:
cc3 = pd.read_csv('creditcard_ac.csv', header=None)

In [42]:
cc3.columns = cc1.columns

In [43]:
cc3.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,133236,2.320998,-0.496412,-2.593376,-0.962050,0.323330,-1.454052,0.329897,-0.520266,-0.860366,...,0.452442,1.325093,-0.168678,0.738673,0.734526,0.278194,-0.104142,-0.091720,1.79,0
1,133236,0.984382,-0.984506,-1.542319,3.886187,0.524369,0.877043,0.857381,-0.047189,-1.289925,...,0.077759,-0.892798,-0.177990,0.161153,-0.259299,-0.338523,-0.138552,0.031279,495.74,0
2,133237,-2.027230,0.789398,0.871372,1.143603,-0.687666,0.664077,0.085892,1.135718,-0.328196,...,-0.438663,-1.339964,0.051017,-0.485070,0.425289,-0.781270,0.064064,-0.167272,116.23,0
3,133237,1.181869,-0.866624,-3.695980,0.764069,0.916832,-0.908053,1.167768,-0.446382,-0.194159,...,0.157848,-0.437339,-0.536194,-1.207990,0.051041,0.686621,-0.151719,0.062246,480.00,0
4,133238,2.297761,-1.341185,-1.851117,-1.669719,-0.564445,-0.769775,-0.514819,-0.402028,-1.488964,...,-0.339445,-0.584873,0.067070,-1.028095,0.046212,-0.180829,-0.029687,-0.060951,69.99,0

In [48]:
cc_combined = cc1.append(cc2, ignore_index=True).append(cc3, ignore_index=True)

In [49]:
cc_dict = cc.to_dict()

In [50]:
cc_combined_dict = cc_combined.to_dict()

In [51]:
cc_dict == cc_combined_dict

True

In [52]:
cc_combined.shape

(284807, 31)

In [53]:
cc.shape

(284807, 31)

In [54]:
cc_comb = pd.read_csv('cc_comb.csv')

In [55]:
cc_comb.shape

(284807, 31)

In [56]:
cc_comb.to_dict() == cc_dict

True

In [57]:
cc_comb.to_dict() == cc_combined_dict

True